html, body, div[role=main], div.wrapper {
  height: 100%;
  margin: 0; 
}

.wrapper {
  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
}

#posts {
  min-width: 40%;
  max-width: 40%;
  width: 40%;
}


#comments {
  min-width: 600px;
  height: 100%;
  background: #ddd;
}

#posts, #comments {
  height: 100%;
  overflow: scroll;

  -webkit-transition: left .5s;
  -moz-transition: left .5s;
  -ms-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
}


article.post {
  background: #ccc;
  display: block;

  img {
    //float: left;
  }

  .score {

    .ups {
      color: rgb(240,82,54);
    }

    .downs {
      color: rgb(55,57,192);
    }
  }
}

article.comment {
  background: red;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 360px) {
  body {
    background: pink;
  }
}
@media screen and (max-width: 1024px) {
  #comments {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;

    .back-button {
      display: block
    }
  }

  #posts {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    max-width: none;
    min-width: none;
  }
}


#comments {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      display: block;
    }
  }
}